[X Keyboard]
# Allow to Override System XKB Settings
# Available Value:
# True False
OverrideSystemXKBSettings=false
# Ignore Input Method Layout Request
# Available Value:
# True False
#IgnoreInputMethodLayoutRequest=False
# xmodmap command
#XModmapCommand=xmodmap
# Apply this custom xmodmap script after layout change
#CustomXModmapScript=

