[CloudPinyin]
# Cloud Pinyin Candidate Word Order
CandidateOrder=2
# Minimum Length of Pinyin To Trigger Cloud Pinyin
#MinimumPinyinLength=2
# Don't Show the 'via cloud' hint
# Available Value:
# True False
#DontShowSource=True
# Cloud Pinyin Source
# Available Value:
# Sogou QQ Google Baidu
#Source=Sogou

