[submodule ".vimperator/vimperator-plugins"]
	path = .vimperator/vimperator-plugins
	url = https://github.com/vimpr/vimperator-plugins
[submodule ".config/awesome/revelation"]
	path = .config/awesome/revelation
	url = https://github.com/bioe007/awesome-revelation
[submodule ".config/awesome/blingbling"]
	path = .config/awesome/blingbling
	url = https://github.com/farseer90718/blingbling
[submodule ".config/dotgdb"]
	path = .config/dotgdb
	url = https://github.com/dholm/dotgdb
[submodule ".antigen/antigen"]
	path = .antigen/antigen
	url = https://github.com/zsh-users/antigen
[submodule ".vim"]
	path = .vim
	url = https://github.com/farseer90718/dotvim
[submodule ".config/awesome/couth-src"]
	path = .config/awesome/couth-src
	url = https://github.com/gorlowski/couth
[submodule ".config/awesome/awesome"]
	path = .config/awesome/awesome
	url = git://git.naquadah.org/awesome.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/farseer90718/dotemacs
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
