#min_peers = 40
max_peers = 52

#min_peers_seed = 10
max_peers_seed = 52

max_uploads = 8

download_rate = 0
upload_rate   = 0

directory = /media/virtual/Downloads
session = /media/virtual/Downloads/.rtorrent/session

schedule = bind_collapse,0,0,"ui.bind_key=download_list,c,view.collapsed.toggle="
schedule = low_diskspace,5,60,close_low_diskspace=100M
schedule = torrent,10,10,"load.start=/media/virtual/Downloads/*.torrent,d.set_directory=/media/virtual/Downloads"

# Notify-send
method.set_key = event.download.finished,notify_me,"execute=notify-send,$d.get_name="

port_range = 49164-49164
port_random = yes
check_hash = no
encryption = allow_incoming,try_outgoing,enable_retry
dht = auto
dht_port = 49162

# Collapse view
view.collapsed.toggle=main
view.collapsed.toggle=name
view.collapsed.toggle=active
view.collapsed.toggle=started
view.collapsed.toggle=stopped
view.collapsed.toggle=complete
view.collapsed.toggle=incomplete
view.collapsed.toggle=hashing
view.collapsed.toggle=seeding
view.collapsed.toggle=leeching
view.collapsed.toggle=rtcontrol

# Show traffic of the last hour
network.history.depth.set = 112
schedule = network_history_sampling,1,32, network.history.sample=
method.insert = network.history.auto_scale.toggle, simple|private, "branch=network.history.auto_scale=,\"network.history.auto_scale.set=0\",\"network.history.auto_scale.set=1\""
method.insert = network.history.auto_scale.ui_toggle, simple|private, "network.history.auto_scale.toggle= ;network.history.refresh="
# branch=pyro.extended=,"schedule = bind_auto_scale,0,0,\"ui.bind_key=download_list,=,network.history.auto_scale.ui_toggle=\""

# Colors
ui.color.alarm.set=""
ui.color.focus.set="reverse"
ui.color.footer.set="yellow on black"
ui.color.incomplete.set="yellow"
ui.color.info.set="cyan"
ui.color.label.set="blue"
ui.color.leeching.set="bold bright yellow"
ui.color.queued.set="magenta"
ui.color.seeding.set="bold bright green"
ui.color.title.set="green on black"

# 256 color tweak
ui.color.complete.set=41
ui.color.stopped.set=33
ui.color.even.set="on 234"
ui.color.odd.set="on 232"
ui.color.progress0.set=196
ui.color.progress20.set=202
ui.color.progress40.set=213
ui.color.progress60.set=214
ui.color.progress80.set=226
ui.color.progress100.set=41
ui.color.progress120.set="bold bright green"

# ASCII glyphs
ui.style.ratio.set=0
# vim: set ts=4 sw=4 tw=0 ft=config
