! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common

#define S_yellow        #e67e22
#define S_orange        #d35400
#define S_red           #c0392b
#define S_magenta       #e74c3c
#define S_violet        #8e44ad
#define S_blue          #3498db
#define S_cyan          #1abc9c
#define S_green         #2ecc71


! Dark

#define S_base03        #2c3e50
#define S_base02        #0c1013
#define S_base01        #34495e
#define S_base00        #657b83
#define S_base0         #7f8c8d
#define S_base1         #95a5a6
#define S_base2         #bdc3c7
#define S_base3         #ecf0f1

*background:              S_base02
*foreground:              S_base0
*cursorColor:             S_base1
*fading:                  40
*fadeColor:               S_base03
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1

*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color9:                  S_orange
*color8:                  S_base03
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base0
*color13:                 S_violet
*color14:                 S_base1
*color15:                 S_base3

XTerm*faceName:    monaco
XTerm*faceSize:    10

Xcursor.theme:                ArchCursorTheme
