! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common

#define S_yellow        #e67e22
#define S_orange        #d35400
#define S_red           #c0392b
#define S_magenta       #e74c3c
#define S_violet        #8e44ad
#define S_blue          #3498db
#define S_cyan          #1abc9c
#define S_green         #2ecc71


! Dark

#define S_base03        #2c3e50
#define S_base02        #0c1013
#define S_base01        #34495e
#define S_base00        #657b83
#define S_base0         #7f8c8d
#define S_base1         #95a5a6
#define S_base2         #bdc3c7
#define S_base3         #ecf0f1

*background:              S_base02
*foreground:              S_base0
*cursorColor:             S_base1
*fading:                  40
*fadeColor:               S_base03
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1

*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color9:                  S_orange
*color8:                  S_base03
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base0
*color13:                 S_violet
*color14:                 S_base1
*color15:                 S_base3

XTerm*faceName:    monaco for powerline
XTerm*faceSize:    10

URxvt.depth:        32
! URxvt.background:   rgba:0000/0b00/1000/dddd
URxvt.font:         xft:monaco for powerline:size=10:style=Regular:antialias=true,xft:Source Han Sans:size=10:style=Regular:antialias=true, xft:Symbola:pixelsize=10
URxvt.boldfont:     xft:monaco for powerline bold:size=10:style=BOld:antialias=true,xft:Source Han Sans:size=10:style=Bold:antialias=true, xft:Symbola:pixelsize=10
URxvt.scrollBar:    false
URxvt.urgentOnBell: false
! URxvt.letterSpace: -1

URxvt.perl-lib:     /usr/lib/urxvt/perl

URxvt.perl-ext-common:        default,matcher,url-select,clipboard,font-size,vim-scrollback
URxvt.keysym.M-Escape:        perl:vim-scrollback
URxvt.keysym.M-u:             perl:url-select:select_next
URxvt.url-select.underline:   true
URxvt.url-select.launcher:    xdg-open
URxvt.colorUL:                #86f2fe
URxvt.underlineColor:         #24b5f4
URxvt.keysym.M-c:             perl:clipboard:copy
URxvt.keysym.M-v:             perl:clipboard:paste
URxvt.keysym.M-C-v:           perl:clipboard:paste_escaped
URxvt.keysym.C-Up:            perl:font-size:increase
URxvt.keysym.C-Down:          perl:font-size:decrease
URxvt.keysym.C-S-Up:          perl:font-size:incglobal
URxvt.keysym.C-S-Down:        perl:font-size:decglobal

Xcursor.theme:                ArchCursorTheme
