[project]
	description = configuration files
[access "refs/*"]
	owner = group user/zc he (farseer90718)
[access "refs/for/refs/*"]
	read = group user/zc he (farseer90718)
	push = group user/zc he (farseer90718)
	label-Code-Review = -2..+2 group user/zc he (farseer90718)
	label-Verified = -1..+1 group user/zc he (farseer90718)
	rebase = group user/zc he (farseer90718)
	removeReviewer = group user/zc he (farseer90718)
	submit = group user/zc he (farseer90718)
[access "refs/heads/*"]
	read = group user/zc he (farseer90718)
	create = group user/zc he (farseer90718)
	push = +force group user/zc he (farseer90718)
	pushMerge = group user/zc he (farseer90718)
[access "refs/tags/*"]
	push = +force group user/zc he (farseer90718)
	pushTag = group user/zc he (farseer90718)
	pushSignedTag = group user/zc he (farseer90718)
