'exception-reporting':
  'userId': 'c5a670e6-7c97-66ee-f6c4-cde8f9bb8b33'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '5b4d99a36730d43e4fd21ae2cd4d8fe813e09e41'
'editor':
  'showIndentGuide': true
  'tabLength': 4
  'fontSize': 15
